body {
    text-align: center;
}

.main {
    text-align: center;
    margin-top: 165px;
    margin-bottom: 300px;
    background-color: white;
}

h1 {
    font-family: "Malgun Gothic Bold";
    font-size: 60px;
    margin-bottom: 200px;
    color: black;
}

h3 {
    color: black;
    font-weight: lighter;
    margin-bottom: 70px;
}


h2 {
    margin-top: 350px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.button {
    margin-top: 25px;
    color: white;
    background: transparent;
    background-color: #466995;
    border-color: #466995;
    border-width: 1px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    width: 150px;
    cursor: pointer;
}

:hover.button {
    margin-top: 25px;
    color: #466995;
    border-width: 1px;
    background: transparent;
    background-color: white;
    border-color: #466995;
    border-radius: 10px;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    width: 150px;
    cursor: pointer;
}

#right-button {
    margin-right: 100px;
}

header {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 20px 10px;
    width: 100%;
    position: fixed;
    top: 0;
    align-items: center;
    font-size: 13px;
}

footer {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 20px 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: center;
    font-size: 13px;
}