@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'InfinitySans-RegularA1';
    background-attachment: fixed;
    background-size: cover;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


.fixed-top {
    background-color: rgba(0,0,0,0.3);
    padding: 0 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
모바일용네비바
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
nav ul {
    list-style: none;
    font-size: 40px;
}

nav li {
    margin-bottom: 80px;
    margin-top: 120px;
}


h1 {
    color: white;
    font-size: 60px;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

a:hover {
    color: #3d8dd3;
}



input[id="hamburger"] {
    display: none;
  }
  input[id="hamburger"] + label {
    display: block;
    width: 80px;
    height: 60px;
    position: relative;
    cursor: pointer;
    float: right;
    margin-top: 45px;
    margin-right: 40px;
  }
  input[id="hamburger"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background: #fff;
    transition: all 0.35s;
  }
  input[id="hamburger"] + label span:nth-child(1) {
    top: 0;
  }
  input[id="hamburger"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  input[id="hamburger"] + label span:nth-child(3) {
    bottom: 0;
  }
  input[id="hamburger"]:checked + label {
    z-index: 2;
  }
  input[id="hamburger"]:checked + label span {
    background: #fff;
  }
  input[id="hamburger"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  input[id="hamburger"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id="hamburger"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  div[class="sidebar"] {
    width: 80%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 1;
    transition: all 0.35s;
    overflow: auto;
  }
  input[id="hamburger"]:checked + label + div {
    right: 0;
  }



  
.main-box {
    font-family: 'InfinitySans-RegularA1';
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 60px;
    font-size: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 600px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -340px;
    margin-bottom: 20px;
  }

.main-box input {
    font-family: 'InfinitySans-RegularA1';
    font-size: 25px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    width: 459px;
}

.main-box button {
    height: 53px;
    font-size: 25px;
    border-radius: 4px;
    border: 1px solid rgba(61,141,211,0.6);
    padding: 5px;
    color: white;
    background-color: rgba(61,141,211,0.6);
    transition: 0.3s;
    cursor: pointer;
}

.main-box button:hover {
    font-size: 25px;
    border-radius: 4px;
    border: 1px solid white;
    padding: 5px;
    color: white;
    background: none;
}


#confirmNameResult, #confirmNickResult, #plzFillin {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 0;
}



#complete {
    width: 200px;
    height: 70px;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

