/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
기본 세팅
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face { font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

@font-face { font-family: 'JSArirang-Regular';
          src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
          font-weight: normal;
          font-style: normal; }
  
body {
    font-family: 'InfinitySans-RegularA1';
    background-attachment: fixed;
    background-size: cover;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


.fixed-top {
    background-color: rgba(0,0,0,0.3);
    padding: 0 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
내비게이션 바
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/


nav ul {
    list-style: none;
}

nav li {
    float: left;
    margin-right: 60px;
    font-size: 13px;
    margin-top: 20px;
}

.nav-menu {
    float: right;
}

h1 {
    color: white;
    font-size: 30px;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

a:hover {
    color: #3d8dd3;
}


/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
본문 오브젝트 위치
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/


#makingRoomTitle {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 110px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
}

#newRoom {
    position: absolute;
    top: 175px;
    left: 50%;
    margin-left: -100px;
}

#roomListTitle {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 280px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
}

table {
    color: white;
    position: absolute;
    top: 355px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    width: 500px;

    background-color: rgba(255,255,255,0.2);
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: solid rgba(0,0,0,0.3) 5px;
    padding: 10px;
    width: 150px;
}


/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
버튼 디자인
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
table button {
    background: none;
    border: white 2px solid;
    border-radius: 2px;
    color: #fff;
    transition: 0.3s;
    font-family: 'InfinitySans-RegularA1';
    font-size: 16px;
    height: 35px;
    width: 57px;
    cursor: pointer;
}

table button:hover {
    background-color: rgba(61,141,211,0.6);
    border: rgba(61,141,211,0.6) 2px solid;
    border-radius: 2px;
    color: #fff;
    transition: 0.3s;
    font-family: 'InfinitySans-RegularA1';
    font-size: 16px;
    height: 35px;
    width: 57px;
}

#newRoom {
    background-color: rgba(61,141,211,0.6);
    border: rgba(61,141,211,0.6) 2px solid;
    border-radius: 2px;
    color: #fff;
    transition: 0.3s;
    font-family: 'InfinitySans-RegularA1';
    font-size: 30px;
    width: 200px;
    height: 60px;
    cursor: pointer;
}
  
#newRoom:hover {
    background: none;
    border: 2px solid white;
    border-radius: 2px;
    color: #fff;
    transition: 0.3s;
    font-family: 'InfinitySans-RegularA1';
    font-size: 30px;
    width: 200px;
    height: 60px;
}

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
modal
%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

.closeManual {
    color: #aaa;
    float: right;
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
  }

  .closeManual:hover, .closeManual:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }